<header style="background:#009BD9;height:100vh">
  <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
    <article class="hero-block primary c6" style="width:100%;height:100vh">
      <a aria-hidden="true" class="img-link c2 page-scroll" href="#main"style="background-image:url(/img/two.png)">

      </a>
      <div class="intro-text text-box" style="padding-top:50px; padding-bottom: 40px;color:#ffffff;  width: 100%;">
        <div class="intro-heading">EXPLORE</div>
        <div class="intro-lead-in">Love Together</div>
      </div>
    </article>
  </section>
</header>

<div style="background:#F7F6F6;"id="main">
  <section id="portfolio" style="overflow:hidden;margin:0 auto">
    <div class="container aa">
      <div>
        <section class="hero-three-items" style="padding-top:0px;padding-bottom:0px">
          <article class="hero-block primary c6" style="width:100%;">
            <a aria-hidden="true" class="img-link c2 page-scroll" style="background-image:url(/img/one.png)">

            </a>

            <div class="text-box c8">
              <h5 style="text-align:left">
            <a class="c4 noTextDec" style="word-wrap: break-word;color:#ffffff">
            We exlore the best places and helps you make your dating more memorable.<br><br>Cultivate your relationship with your partner. 
            </a>
            </h5>
            </div>
          </article>
              </section>
</div>
<div>
     <section>
          <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/fashion" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/seven.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
      
                        <p class="text-muted">FASHION</p>
                    </div>
                </div>
   <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/moments" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/eight.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                  
                        <p class="text-muted">MOMENTS</p>
                    </div>
                </div>
                   <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="/places" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/img/five.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                   
                        <p class="text-muted">PLACES</p>
                    </div>
                </div>
</section>

      </div>
    </div>

    <div class="container bb">
      <div style=" padding-bottom: 1.5em">

        <p style=" color:#ccc;font-weight: 600;font-style: italic; font-size:1.5em"></p>
<div style="text-align:center">
        <a class="btn-danger btn-xl" style="border:none;border-radius:0px" href="/auth/instagram">Instagram</a></div>
      </div>
      <div>

        <div>

          <p style="width: 32%;font-size:1.4em;font-style: italic; color:#ccc;display:inline-block;cursor:pointer" class="span2" tabindex="0">Fashion</p>

          <p style="width: 32%;font-size:1.4em;font-style: italic; color:#ccc;display:inline-block;cursor:pointer" class="span3" tabindex="0">Health</p>

          <p style="width: 32%;font-size:1.4em;font-style: italic; color:#ccc;display:inline-block;cursor:pointer" class="span4" tabindex="0">Travel</p>
          <ol data-view="results" class="headlines touchstates hp alert2" style="text-align:left;font-size:1.1em;list-style-type: decimal-leading-zero;">
            {{#each healthnews}} {{#if image}}
            <li class="border-b highlighted  item-0">
              <a href="{{url}}" class="noTextDoc greenhover">
             {{title}}
              </a>
            </li>{{/if}} {{/each}}
          </ol>


          <ol data-view="results" class="headlines touchstates hp alert3" style="text-align:left;font-size:1.1em;list-style-type: decimal-leading-zero;">
            {{#each healthnews2}} {{#if image}}
            <li class="border-b highlighted  item-0">
                          <a href="{{url}}" class="noTextDoc greenhover">
  {{title}}
              </a>
            </li>{{/if}} {{/each}}
          </ol>


          <ol data-view="results" class="headlines touchstates hp alert4" style="text-align:left;font-size:1.1em;list-style-type: decimal-leading-zero;">
            {{#each healthnews3}} {{#if image}}
            <li class="border-b highlighted  item-0">
                          <a href="{{url}}" class="noTextDoc greenhover">
  {{title}}
              </a>
            </li>{{/if}} {{/each}}
          </ol>

        </div>
      </div>

    </div>

  </section>
</div>

